# Copyright (c) 2026 Frederick Altrock
# SPDX-License-Identifier: MIT

config SHIELD_COMFYKEY_LEFT
    def_bool $(shields_list_contains,comfykey_left)

config SHIELD_COMFYKEY_RIGHT
    def_bool $(shields_list_contains,comfykey_right)

config SHIELD_COMFYKEY_DONGLE
    def_bool $(shields_list_contains,comfykey_dongle)