/*
 * Copyright (c) 2026 Frederick Altrock
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
 #include <dt-bindings/zmk/keys.h>
 #include <dt-bindings/zmk/bt.h>
 #include <dt-bindings/zmk/rgb.h>
 #include <dt-bindings/zmk/ext_power.h>
 #include <dt-bindings/zmk/outputs.h>

/ {
       keymap {
              compatible = "zmk,keymap";

              default {
                     display-name = "Default";
                     bindings = <
       
    &trans &trans
&kp e  &kp r  &kp f  &trans  &kpj  &kp z  &kp o  &kpu
&kp y  &kp a  &kp s  &kp d   &kp t  &kp period  &kp m  &kp n  &kp g  &kp h  &kp i  &kp p
&trans  &kp w  &trans  &kp c  &kp l  &kp comma  &kp v  &kp b  &kp q  &kp x  &kp k  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp arrowup  &kp pgup
&kp arrowleft  &trans  &kp arrowleft  &kp home  &trans  &kp end
&kp arrowdown  &kp phdn
&trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                     >;
              };
              l1 {
                     display-name = "L1";
                     bindings = <>;
              };
              l2 {
                     display-name = "L2"; 
                     bindings = <>;
              };
              l3 {
                     display-name = "L3";
                     bindings = <>;
              };
              l4 {
                     display-name = "L3";
                     bindings = <>;
              };
              l5 {
                     display-name = "L3";
                     bindings = <>;
              };
              l6 {
                     display-name = "L3";
                     bindings = <>;
              };
              l7 {
                     display-name = "L3";
                     bindings = <>;
              };
       };
};
